<div class="item">
	<div>
		<table>
			<tr>
				<td> Name:</td> 
				<td>@Repo.Name </td> 
			</tr>
			<tr>
				<td> Source Repository:</td>  
				<td>@Repo.SourceRepository</td> 
			</tr>
			<tr>
				<td> Target Repository:</td> 
				<td>@Repo.TargetRepository</td> 
			</tr>
		</table>
	</div>

	<div class="buttons">
		<NavLink href=@editID class="btn-dark btn-primary">EDIT</NavLink>
		<NavLink href=@deleteID class="btn-dark btn-primary">DELETE</NavLink>
	</div>
</div>
@code {
	[Parameter]
	public RepoInfo Repo { get; set; }

	public string editID { get; set; }
	public string deleteID{ get; set; }

	protected override void OnAfterRender(bool firstRender)
    {

        if (firstRender)
        {
			editID = $"/edit/{Repo.ID}";
			deleteID = $"/delete/{Repo.ID}";
		}
	}

}
